body{
    background-image: url(../image/script-php-2.jpg);

}

* {
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
  margin: 25px 0;
  min-width: 280px;
  min-height: 150px;
}

a {
	display: inline-block;
	text-decoration: none;
}

h3{
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 40px;
}


button{
  font-family: 'Karla', sans-serif;
  background: #474E54;
  color:#fff;
  border: 1px;
  position:relative;
  height:100%;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 100%;
  min-height: 150px;
  margin-top: 25px
}

button:hover{
  background:#fff;
  color: #474E54;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #474E54;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
