*{
  box-sizing: border-box;
}

body{

  background-color: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: auto;
}

a{
  text-decoration:none !important;
  margin: 0;
  padding: 0;
  color: black;
  }

ul, ol{
      margin: 0;
      padding: 0;
      list-style: none; /* elimina los puntos de la lista*/
}

.header-main{
  background-color: #61609C;

}

.portada-inicial{
  background-image: url(../image/fondo-recital4.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: auto;
  width: 100% ;
  text-align: center;
  margin-top: 65px;
}

.subiTuFoto{
  color: #4e4e4e;
  background-color: white;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid 1px #4e4e4e;
  font-size: 0.9em;
}

.errores{
  color:white;
  background-color: #d9534f;
  border-radius: 5px;
  font-size: 0.8em;
}

.errores2{
  color:#d9534f;
  font-size: 0.9em;
  margin-top: 1em;
}

.centered-form{
	margin-top: 10px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.btn{
  border: 1px solid #000000c2;
}

button{
  background-color: #7170b5;
  font-size:bold;
  box-shadow: 1px 1px #292929;

}
button:hover{
  background-color: #5e5e8f;
}

.boton-distinto{

                background: rgba(26, 56, 5, 0);
                color: white;
                font-weight: bold;
                border: none;
                border-radius:0 ;
                border-right: solid 1px #828282;

}

.espacio-barra{
          margin-left: 100px;
  }

header .form-control{
        padding: 0;
        font-size: 0.8em;
        height: 20px;
        width: 50px;
}

.ajusteleft{
        margin-left: 17%;
}

.form-check a{
      font-size: 0.7em;
      text-decoration: none;
      color: black;

}

.row-registro{
background-color: rgba(8, 28, 112, 0.19);
border: 2px solid rgba(13, 8, 112, 0.33);
border-radius: 5px;
}


.titulos{

  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Itim', cursive;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Homemade Apple', cursive; */
  font-family: 'Caveat Brush', cursive;
  font-size: 1.4em;
}

/* input:invalid {
  border: 3px solid red;
}

input:valid {
  border: 2px solid;
} */

/* bottom top */

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0f134679;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 1000px;
}

#top-button:hover {
  background-color: #61609C;
}
