html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}


progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}



[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}


[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}



details {
  display: block;
}

summary {
  display: list-item;
}


template {
  display: none;
}


[hidden] {
  display: none;
}

/*  =======================================================================*/

*{
  box-sizing: border-box;
}

body{

  background-color: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: auto;
}

a{
  text-decoration:none !important;
  margin: 0;
  padding: 0;
  }

ul, ol{
      margin: 0;
      padding: 0;
      list-style: none; /* elimina los puntos de la lista*/
}

.header-main{
        background:linear-gradient(#f0f0f0, #F5F5F5 );

}

.portada-inicial{
  background-image: url(../image/fondo-recital4.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: auto;
  width: 100% ;
  text-align: center;
  margin-top: 40px;
}

.subiTuFoto{
  color: #4e4e4e;
  background-color: white;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid 1px #4e4e4e;
  font-size: 0.9em;
}

.errores{
  color:white;
  background-color: #d9534f;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.9em;
  margin-top: 1em;
}

.errores2{
  color:#d9534f;
  font-size: 0.9em;
  margin-top: 1em;
}

.centered-form{
	margin-top: 10px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.boton-distinto{

                background: rgba(26, 56, 5, 0);
                color: white;
                font-weight: bold;
                border: none;
                border-radius:0 ;
                border-right: solid 1px #828282;

}

.espacio-barra{
          margin-left: 100px;
  }

header .form-control{
        padding: 0;
        font-size: 0.8em;
        height: 20px;
        width: 50px;
}

.ajusteleft{
        margin-left: 17%;
}

.form-check a{
      font-size: 0.7em;
      text-decoration: none;
      color: black;

}

.navbar-nav{
  display: -webkit-box;
  }

.navbar a{
    color: black;
    text-align: center;
}

.decoracion-borde{
      border-right: solid 1px #949494;
}

/* nav mobie */

.nav-mobie{
        display: none;
}
.button-small{
  display: none;
}



@media screen and (max-width: 991px){
      .ajusteleft {
        margin-left: 0;
      }

      .nav-mobie{
        display: block;
        margin-left: 1em;
        margin-right: 6.5em;
        }

      .header-sup{
        display: flex;
        justify-content: space-between;
        height: 62px;
      }

      .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #f1f1f1;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          border: solid 2px #3e6a00;
          border-left: none;
            }

      .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #000000;
          display: block;
          transition: 0.3s;
          text-align: center;
      }

      .sidenav a:hover {
          font-weight:200;
          text-decoration:underline;
      }

      .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  }

  @media screen and (max-width: 576px){
    .button-small{
       display: block; }
  }


/* fin nav mobie  */





/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;

}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
  .hidden-sm-down{
    display: none !important;
}
}

@media (max-width:576px){
  .hidden-xs{
    display: none !important;
}
}
/* fin */

.cover{
  background-image: url("../images/fondo-recital.png");
  height: 94vh;
  background-size: cover;
  background-position: center;
}

.borde{
  border: 1px, solid, #1B5E20;
}

.fondoNeutro{
  background-color: #F5F5F5;
}

.titulos{
  color: white; font-family: 'Montserrat', sans-serif
}

.faq-body{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  /* background-color: #37ded4; */
}
.faq-content{
  display: flex;
  padding-top: 45px;
}
.faq-indice{
  display: flex;
  padding-top: 45px;
  justify-content: flex-start;
  text-decoration: none;
  /* align-items: center; */
}

.faq-body h2{
  color: #2a4598;
  font-weight: bold;
}

.faq-indice a{
  color: #000000;
  font-size: 1.9em;
}
.faq-indice a:hover{
  color: #2a4598;
}

.faq-content li{
  border-bottom: 1px solid #949494;
}

.sign-in {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: 0.4s;
    opacity: 0.6;
    margin-left: 20%;
}

.sign-in:hover{
  opacity: 1;
}

.footer-item li:hover{
  font-weight: bold;
}

.redes-sociales{
  justify-content: space-around;
}

.redes-sociales{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.iconos-redes-footer{
  display: flex;
  justify-content: space-between;
}

.footer-section{
  padding-top: 50px;
}

.footer-section h5{
  font-weight: bold;
}

.ir-arriba{
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
}

.ir-arriba:hover{
  /* font-weight: bold; */
  font-size: 1.4em;

}
